@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,44,48,1) 35%, rgba(106,112,118,1) 100%);
}

#mainContainer{
    font-family: "Mukta", sans-serif;
    width: 60%; 
    height: 80%;
    background-color: #eff1ecd9;
    margin: 0 auto; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

#metronomeContainer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#result{
    text-align: center;
    font-size: 7.0em;
}

#beatButton{
    background-color: #eff1ecd9;
    font-family: "Mukta", sans-serif;
    justify-content: center; 
    width: 95%;
    height: 20%;
    font-size: 4.0em;
    border-radius: 10px;
}


.circle{
    width: 80px;
    height: 80px;
      border: 2px solid #212c30;
      border-radius: 50%;
      display: inline-block;
      margin: 10px;
    background-color: transparent;
}

#circle1 {
    border: 5px solid #212c30;
}

.filled {
    background-color: #212c30;
  }

  .hidden {
    display: none;
  }

  #settingsContainer {
    position: relative;
    display: inline-flex;
    width: 95%;
    justify-content: right;
  }

  #signatureContainer{

    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .timeSig{
    padding: 5px 10px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  .timeSig.selected{
    background-color: #798cc098
  }

  #precisionContainer{

    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .precision{
    padding: 5px 10px;
    margin: 3px;
    border: 1px  solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  .precision.selected{
    background-color: #798cc098;
  }