

#mainContainer{
    width: 60%; 
    height: 80%;
    background-color: #f0f0f0;
    margin: 0 auto; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

#metronomeContainer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#result{
    text-align: center;
    font-size: 7.0em;
}

#beatButton{
    justify-content: center; 
    width: 95%;
    height: 20%;
    font-size: 4.0em;
    border-radius: 10px;
}


.circle{
    width: 80px;
    height: 80px;
      border: 2px solid black;
      border-radius: 50%;
      display: inline-block;
      margin: 10px;
    background-color: transparent;
}

#circle1 {
    border: 5px solid black;
}

.filled {
    background-color: black;
  }

  .hidden {
    display: none;
  }

  #settingsContainer {
    position: relative;
    display: inline-flex;
    width: 95%;
    justify-content: right;
  }

  #signatureContainer{

    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .timeSig{
    padding: 5px 10px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  .timeSig.selected{
    background-color: aqua;
  }

  #precisionContainer{

    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .precision{
    padding: 5px 10px;
    margin: 3px;
    border: 1px  solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  .precision.selected{
    background-color: aqua;
  }